# OS files
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/
*.swp

# AWS
.aws-sam/
cdk.out/
*.pem
*.pfx
credentials
config

# Node
node_modules/
npm-debug.log*

# Python
__pycache__/
*.pyc
.venv/
venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Logs
*.log
